.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.season-display.winter i {
  color: skyblue;
}

.season-display.summer i {
  color: #f28c38;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.winter {
  background-color: rgb(195, 230, 255);
}

.summer {
  background-color: #fbe870;
}
